<% if @result.key?(:estimated) %>
<h3><%= t('.summary') %></h3>
<h2><%= t('.log_time') %></h2>

<table border="1">
	<tr>
		<th><%= t('.user') %></th>
		<th><%= t('.avg_rate') %></th>
		<th><%= t('.time_sum') %></th>
		<th><%= t('.cost_sum') %></th>
	</tr>
<% @issue.time_entries_with_children.group_by(&:user_id).each do |user_id, time_entries| %>
	<tr>
    <td style="font-weight: bold;"><%= User.find(user_id).lastname %></td>
    <% @issue.count_costs(user_id, time_entries).each do |cost| %>
      <%= content_tag :td, cost %>
    <% end %>
  </tr>
<% end %>
</table>

<h2><%= t('.realized') %></h2>
<table border="1">
	<tr>
		<th><%= t('.est_time') %></th>
		<td><%= @result[:estimated].to_f.round(2) %></td>
	</tr>
	<tr>
		<th><%= t('.spent_time') %></th>
		<td><%= @result[:spent].to_f.round(2) %></td>
	</tr>
	<tr>
		<th><%= t('.budget') %></th>
		<td><%= @result[:budget].to_f.round(2) %></td>
	</tr>
	<tr>
		<th><%= t('.profit') %></th>
		<td><%= @result[:profit].to_f.round(2) %></td>
	</tr>
	<tr>
		<th><%= t('.provision') %></th>
		<td><%= @result[:provision].to_f.round(2) %></td>
	</tr>
</table>
<% else %>
<p><%= t('.disclaimer', id: params[:issue_id]) %></p>
<% end %>
<br />
<br />
<hr />
