<% if @result.has_key?(:estimated) %>
<h3>Podsumowanie</h3>
<h2>Zalogowany czas</h2>

<table border="1">
	<tr>
		<th>Użytkownik</th>
		<th>Średnia Stawka</th>
		<th>Łączny czas</th>
		<th>Łączny koszt</th>
	</tr>
<% @issue.time_entries_with_children.group_by(&:user_id).each do |user_id, time_entries| %>
	<tr>
		<th><%= User.find(user_id).lastname %></th>
		<%= user_costs(user_id, time_entries) %>
	</tr>
<% end %>
</table>

<h2>Zrealizowany budżet</h2>
<table border="1">
	<tr>
		<th>Szacowany czas: </th>
		<td><%= @result[:estimated].to_f.round(2) %></td>
	</tr>
	<tr>
		<th>Spędzony czas:</th>
		<td><%= @result[:spent].to_f.round(2) %></td>
	</tr>
	<tr>
		<th>Budżet: </th>
		<td><%= @result[:budget].to_f.round(2) %></td>
	</tr>
	<tr>
		<th>Zysk: </th>
		<td><%= @result[:profit].to_f.round(2) %></td>
	</tr>
	<tr>
		<th>Prowizja: </th>
		<td><%= @result[:provision].to_f.round(2) %></td>
	</tr>
</table>
<% else %>
<p>Zadanie <%= params[:issue_id] %> musi mieć określone Szacowany czas, Budget i Stawki godzinowe</p>
<% end %>
<br />
<br />
<hr />
