<% html_title t('redmine_budget.settings.budget_title') %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'jquery-throttle.min.js', 'budget_helper', 'budget', :plugin => 'redmine_budget' %>
  <%= stylesheet_link_tag 'budget', :plugin => 'redmine_budget' %>
<% end %>

<div class="redmine_budget" data-budget-calculate-path="<%= budget_calculate_path %>">
	<div class="issue_control">
		<h2><%= t('.budget_control') %></h2>

		<%= text_field_tag :issue_id, params[:issue_id] %>
		<%= javascript_tag "observeAutocompleteField('issue_id', '#{escape_javascript auto_complete_issues_path(:project_id => nil, :scope => 'system')}')" %>
		<div class="budget_content"></div>
	</div>
	<div class="budget_estimation" data-est-budget="<%= @issue.try(:budget) %>">
		<h2><%= t('.budget_estimation') %></h2>
		<h3><%= t('.work_time') %></h3>
		<table border="1" class="estimation">
			<tr class="header">
				<th><%= t('.hours') %></th>
				<th><%= t('.rate') %></th>
				<th><%= t('.work_cost') %></th>
				<th><%= t('.lower_bid') %></th>
				<th><%= t('.middle_bid') %></th>
				<th><%= t('.upper_bid') %></th>
				<th></th>
			</tr>
			<tr class="row">
				<td><input type="number" name="estimation[][hours]" value=""></td>
				<td><input type="number" name="estimation[][rate]" value="<%= @settings[:default_rate] %>"></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="javascript: void(0);" class="remove">&times;</a></td>
			</tr>
		</table>
		<h3><%= t('.add_cost') %></h3>
		<table border="1" class="additionals">
			<tr class="header">
				<th><%= t('.cost_name') %></th>
				<th><%= t('.cost_cost') %></th>
				<th></th>
			</tr>
			<tr class="row">
				<td><input type="text" name="additionals[][name]" value=""></td>
				<td><input type="number" name="additionals[][cost]" value=""></td>
				<td><a href="javascript: void(0);" class="remove">&times;</a></td>
			</tr>
		</table>
		<h3><%= t('.summary') %></h3>
		<table border="1" class="summary">
			<tr>
				<th><%= t('.work_cost') %></th>
				<td></td>
			</tr>
			<tr>
				<th><%= t('.lower_bid') %></th>
				<td></td>
			</tr>
			<tr>
				<th><%= t('.middle_bid') %></th>
				<td></td>
			</tr>
			<tr>
				<th><%= t('.upper_bid') %></th>
				<td></td>
			</tr>
			<tr>
				<th><%= t('.score') %></th>
				<td></td>
			</tr>
		</table>
	</div>
</div>
